NODE_ENV=development

#== APP
PORT=3001
TRANSPORT_PORT=8080
JWT_EXPIRATION_TIME=604800
FALLBACK_LANGUAGE=en_US
ENABLE_ORM_LOGS=true
ENABLE_ORM_LOGS_TEST=false
ENABLE_DOCUMENTATION=true
API_VERSION=v1.0.0

#== JWT Auth
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_SECRET_KEY=

#=== Developer Key Pair
PUBLIC_RSA_KEY=
PRIVATE_RSA_KEY=
DEVELOPER_API_KEY=


#== DB
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=database-test-1

#== DB Integration Test (Use for Test only)
DB_TYPE_TEST=postgres
DB_HOST_TEST=127.0.0.1
DB_PORT_TEST=5432
DB_USERNAME_TEST=postgres
DB_PASSWORD_TEST=postgres
DB_DATABASE_TEST=integration-test


#== AWS
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_REGION=eu-central-1
AWS_S3_API_VERSION=2010-12-01
AWS_S3_BUCKET_NAME=s3-bucket-test

#== NATS
NATS_ENABLED=false
NATS_HOST=localhost
NATS_PORT=4222

#== Redis
REDIS_CACHE_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
